import { Controller, Get } from '@nestjs/common';
import { <%= className %>Service } from '../services/<%= name %>.service';

@Controller('<%= name %>')
export class <%= className %>Controller {
  constructor(private readonly <%= propertyName %>Service: <%= className %>Service) {}

  @Get()
  getHello(): string {
    return this.<%= propertyName %>Service.getHello();
  }
  
  // Add your plugin controller methods here
}